<%doc>Message sent to users whose post violates the 24-hour rule.</%doc>
Hello there! [Your post](${post_url}) has been automatically [removed](https://www.reddit.com/r/NoSleepAuthors/comments/z93asr/comment/jfigj88/) as r/nosleep limits users to **[one (1) post per 24-hour period](https://www.reddit.com/r/NoSleepAuthors/comments/zebijs/nosleep_indepth_24_hour1_post_per_day_rule/).**

You may repost it **one time only** in **${time_remaining}**, but your story will still be reviewed by human moderators and may be removed again if it breaks [other NoSleep rules](https://www.reddit.com/r/nosleep/wiki/index/).

**See also:** [NoSleep Posting Guidelines](http://www.reddit.com/r/nosleep/wiki/index) | [NoSleepAuthors](https://www.reddit.com/r/NoSleepAuthors/comments/z0qnxx/introduction_to_nosleepauthors/) | [Similar Subreddits](https://www.reddit.com/r/nosleep/wiki/similarsubreddits) | [Author FAQ](https://www.reddit.com/r/NoSleepAuthors/comments/13hku3x/nosleep_faq_authors/) | [Beginner's Guide to Reddit](https://www.reddit.com/r/NoSleepAuthors/comments/10lw4z9/a_beginners_guide_to_reddit/) | [If you use the Reddit app](https://www.reddit.com/r/NoSleepOOC/comments/x2t7ur/reddit_app_users_please_read/)

_I am a bot, and this was automatically posted. Do not reply to me as messages will be ignored. Please [contact the moderators of this subreddit](${modmail_link}) if you have any questions, concerns, or bugs to report._
