% if is_title_reapproval:
[My post](${post_url}) to /r/NoSleep was removed for title issues. My proposed new title is [TITLE HERE].
% else:
[My post](${post_url}) to /r/NoSleep was removed for formatting issues. I have fixed those issues and am now requesting re-approval.

_Note to moderation team: if this story is eligible for re-approval, remember to remove the bot's comment from it._
% endif
