AUTOBOT_POST_TIMELIMIT=86400
AUTOBOT_ENFORCE_TIMELIMIT=true
AUTOBOT_CLIENT_ID=your-client-id
AUTOBOT_CLIENT_SECRET=your-client-secret
AUTOBOT_REDDIT_USERNAME=bot-username
AUTOBOT_REDDIT_PASSWORD=bot-passwd
AUTOBOT_SUBREDDIT=nosleep
AUTOBOT_USER_AGENT="playskool bot agent 1000"
REDIS_URL="redis://localhost:6379/0"
