[autobot]
datafile: autobot.rld
subreddit: nosleep
seconds_between_allowed_posts: 86400
user: YOUR-USER-NAME-HERE
password: YOUR-PASSWORD-HERE
client_id: YOUR-CLIENT-ID-HERE
client_secret: YOUR-CLIENT-SECRET-HERE

