[autobot]
subreddit: nosleep
seconds_between_allowed_posts: 86400
user: YOUR-REDDIT-USER-NAME-HERE
password: YOUR-REDDIT-PASSWORD-HERE
client_id: YOUR-OAUTH-CLIENT-ID-HERE
client_secret: YOUR-OAUTH-CLIENT-SECRET-HERE
redis_backend: redis
redis_url: localhost
redis_port: 6379
